In [1]:
def add(a,b):
    return a+b

In [2]:
add(2,3)

5

In [7]:
x = lambda b : 3*b

In [8]:
x(6)

18

In [29]:
def squr(num):
    return num**2

In [30]:
my_nums=[2,3,4]

In [31]:
map(squr,my_nums)

In [32]:
print(map(squr,my_nums))

<map object at 0x0000008EBB699670>

In [33]:
for item in map(squr,my_nums):
    print(item)

4
9
16

In [36]:
for item in map(squr,my_nums):
    print(item)

4
9
16

In [37]:
list(map(squr,my_nums))

[4, 9, 16]

In [53]:
def splicer(string):
    if len(string)%2==0:
        return 'EVEN'
    else:
        return string[0].upper()

In [51]:
splicer('rona','fgdfg')

TypeError: splicer() takes 1 positional argument but 2 were given

In [54]:
# so to avoid upper problem we will save all string in list

names=['ronak','hars','jay']

#now use this in map function and list it down

list(map(splicer,names))

['R', 'EVEN', 'J']

In [56]:
def is_even(num):
    return num%2==0

In [57]:
is_even(4)

True

In [59]:
my_nums=[1,2,3,4,4,5,6,7,8,9]

In [62]:
list(filter(is_even,my_nums))

[2, 4, 4, 6, 8]

In [63]:
tuple(filter(is_even,my_nums))

(2, 4, 4, 6, 8)

In [65]:
for i in filter(is_even,my_nums):
    print(i)

2
4
4
6
8

In [70]:
# Using comprehension:
list(x for x in my_nums if x%2!=0)

[1, 3, 5, 7, 9]

In [71]:
names

['ronak', 'hars', 'jay']

In [72]:
y=lambda x:x[::-1]

In [73]:
y('hbbf')

'fbbh'

In [74]:
list(map(lambda x:x[::-1],names))

['kanor', 'srah', 'yaj']

In [75]:
list(map(y,names))

['kanor', 'srah', 'yaj']

In [76]:
names2=['abc','parth','hard']

In [77]:
list(map(y,names2))

['cba', 'htrap', 'drah']